body{
    height: 100vh;
    background: rgb(255,255,255);
    font-family: 'Calibri';
}

nav{
    background: rgb(40,40,40);
}

.navbar-brand{
    font-size: 35px;
}
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    color: white;
    padding-left: .5rem;
}
.card-title{
    color:#09a4da;;
}
.createsize {
    align: center;
    margin:auto;
   width:80%;
    font-size: 15px;
}

table{
    width: 100%;
    margin: auto;
    text-align: center;
}

h3, .h3 {
    font-size: 1.75rem;
    align: center;
    text-align: center;
}

main{
    width: 80%;
    margin:  auto;
    margin-top: 10vh;
}

.container3{
    background: rgb(3, 102, 116);
    border-radius: 10px;
}
.container4{
    border-bottom: solid 2px rgb(119, 116, 116);
}

form{
    padding: 5px;
}

form input{
    height: 45px;
    width: 100%;
    padding: 5px 15px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 2px;
    border: none;
}

select {
    width: 100%;
    padding: 5px 15px;
    color: gray;
    height: 45px;
    border: none;
    border-radius: 3px;
}


.bttn {
    padding-left: 90px;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.spn {
    color: rgb(241, 69, 39);
}

button, .a-btn{
    justify-items: center;
    background: #09a4da;;
    width: 60%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    color: #fff;
    transition: 0.9s;
}

.a-btn{
    padding: 10px 20px;
    text-decoration: none;
}

button:hover, .a-btn:hover {
    background: rgb(204, 57, 31);
    color: #fff;
    text-decoration: none;
}