extends layout
block content
		main
			h3.text-center
			h3 Add Vendor Accounts
				<br/><br/>

				.createsize
					form(name='createForm', action='/create-recipient',method='POST')
						input#number(type='text', name='account_number', placeholder='Account Number')
						hr
						input#name(type='text', name='name', placeholder='Account Name')
						hr

						select(name='bank_code')
							option Select Bank
							each val in bankData
								option(value=val.code) #{val.name}
						<br/>

						.bttn.pt-2
						button(type='submit') Save
