extends layout
block content
	main
		h3.text-center
		h3 Pay Your Suppliers
			<br/><br/>

			.createsize
			form(name='myForm', action='/paystack/pay',method='POST')
				input#name(type='text', name='full_name', placeholder='Full Name')
				hr
				input#email(type='email', name='email', placeholder='Email')
				hr

				select(name='amount')
					option Select Amount
					option(value='500') 500
					option(value='1000') 1000
					option(value='2000') 2000
				<br/><br/>
				
				select(name='bank')
					option Select Bank
					each val in bankData
						option(value=val.code) #{val.name}
				<br/>

				.bttn.pt-2
				button(type='submit') PAY
