extends layout
block content
		main
			h3
				Transfer Complete!

			.createsize
			h3 Your payment of NGN #{amount/100} was successful
				<br/>
				<br/>

				a(href="../../AllTransfers")
					button(type="button") View All Transfers
