extends layout
block content
		main
			h3.text-center
			h3 Pay Vendors 
				<br/><br/>

				.createsize
					form(name='initiateTransfer', action='/transfer/initiate',method='POST')
						input#amount(type='text', name='amount', placeholder='Amount')
						hr
						input#name(type='text', name='reason', placeholder='Reason')
						hr

						select(name='recipient')
							option Select Vendor
							each val in recipientData
								option(value=val.recipient_code) #{val.name}
						<br/>

						.bttn.pt-2
						button(type='submit') Pay
